*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header{
    height: 32px;
    width: 1345px;
    background-color: black;
    color: white;
    padding-bottom: 10px;
   position: fixed;
   top: 0;
}

.section{
    height: 750px;
    width: 1345px;
    background-image: url(./newfolder/hero-bg.jpg);
    background-size: cover;
    background-repeat: repeat-y;
} 

.bootstrap{
    margin-bottom: 15px;
    font-weight: bolder;
}

.text{
    color: #00a6eb;
    margin-bottom: 7px;
}

.text1{
    color: #ffffff;
    margin-bottom: 7px;
}

.img1{
    
    margin-bottom: 7px;
    margin-left: 15px;
}

.img2{
    margin-bottom: 7px;
    margin-left: 15px;
}

.img3{
    margin-bottom: 7px;
    margin-left: 15px;
}

.btext{
    margin-left: 380px;
    margin-bottom: 15px;
    
}

.img{
    margin-left: 10px;
    margin-bottom: 2.5px;
}